@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #0D0D0D;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #717345;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	font-family: cursive;
	
	
}
.nav {
	background: #E62A2A;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #A3A660;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #8A8C51;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
